<center>

<div class="panel panel-primary">
    <h5>BUSQUEDA</h5>
    <p>
    	<div class="input-group">
    		<%= text_field_tag "med_texto", "", size:60, class:"form-control" %>
    	</div>
    </p>
    <div id="respuesta"></div>

<ul class="medList">

</ul>
</div>
</center>
