<!DOCTYPE html>
<html>
<head>
  <title>Corp. Capsula</title>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>


	<script src="/assets/javascript/buscar_por_clave.js"></script> 
	<script src="/assets/javascript/buscar_por_nombre.js"></script> 

</head>
<body>	
<div id="header"> 
	  	<div id="menu"> 
	    	<p><a href="/"><b>Home</b></a> | <a href="/medicamentos/"><b>Login</b></a></p>
	 	</div>
	  	<div id="version"> 
   			<b>oz | v. 1.0 | 110315 </b>
  		</div>
</div>
</br>

<%= yield %>


</body>
</html>