<!DOCTYPE html>
<html>
<head>
  <title>Corp. Capsula</title>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>


	<script src="/assets/javascript/buscar_por_clave.js"></script> 
	<script src="/assets/javascript/buscar_por_nombre.js"></script> 

</head>
<body>	

<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
	<p class="navbar-text pull-left"> 
		<font color="white"><b>oz | v. 1.0 | 020315 </b></font>
	</p>
	
		<ul class="nav nav-pills pull-right" role="tablist">
		  <li><a href="/" > Home </a></li>
		  <li><a href="/medicamentos/" > Login </a></li>
		</ul>
</nav>

<%= yield %>


</body>
</html>